  <style type="text/css">
	/* Style text inputs and dropdowns */

	#provincedropdown,
	#campusdropdown,
	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
		padding: 4px 12px;
		border:none !important;
		border-radius: 100px;
		font-size: 16px;
		margin-bottom: 0;
		background-color: #F2F2F2;
		transition: border-color 0.3s ease;
		box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.5);
		-webkit-box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.5);
		-moz-box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.5);
		position: relative;
		background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
		background-repeat: no-repeat;
		background-position: right 10px center;
		background-size: 20px;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	
	
	.lp-form-label {
		margin-bottom: 130px; 
		padding-bottom:200px;
	}

	#provincedropdown:focus,
	#schooldropdown:focus,
	input:focus,
	textarea:focus {
		border-color: #0073e6; /* Highlight color */
		outline: none;
	}
	#provincedropdown.labels,
	#campusdropdown.labels {
		padding-bottom:20px;
	}
/* Style the submit button */
	#lp-pom-button-43 {
		font-size:18px;
		color: #ffffff !important;
		background-color: #e7131a;
		text-decoration: none;
		vertical-align: initial;
		padding: 20px 40px;
		border: none;
		border-radius: 1000px;
		display: inline-block;
		height: auto;
		margin: 0px 7px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	#lp-pom-button-43:hover {
		text-decoration:underline;
	}

/* Make sure error messages appear below the field */
	.error-message {
		display: none;            /* hidden by default */
		position: relative;       /* keep in normal flow */
		margin-top: 4px;           /* space below the dropdown */
		margin-bottom: 10px;       /* space before next element */
		color: red;
		font-size: 14px;
		line-height: 1.4;
	}
	.lp-form-errors,
	.lp-form-errors * {
		pointer-events: none; /* lets clicks go through */
	}

/* Ensure selects and labels stack properly */
	.lp-pom-form-field {
		display: flex;
		flex-direction: column;
	}	
	.challenge-block {  
		padding: 0.25rem;
		position: relative;
		background: linear-gradient(to right, red, teal);
		width: 20%;
		float: left;
	}
	.challenge-inner {
		background: #fff;
		padding: 2rem;
		text-align: center;
	}
	.challenge-inner h3 {
		font-size: 26px;
	}
	
	.challenge-inner .button {
		display: block;
		border-style: none;
		border-radius: calc(100px * var(--scale, 1));
		left: calc(450px * var(--scale, 1));
		top: calc(682px * var(--scale, 1));
		z-index: 32;
		width: calc(300px * var(--scale, 1));
		height: calc(50px * var(--scale, 1));
		position: absolute;
		background: rgba(231, 19, 26, 1);
		box-shadow: none;
		text-shadow: none;
		color: #fff;
		border-width: calc(undefinedpx * var(--scale, 1));
		border-color: #undefined;
		font-size: calc(18px * var(--scale, 1));
		line-height: calc(22px * var(--scale, 1));
		font-weight: 600;
		font-family: Source Sans Pro;
		font-style: normal;
		text-align: center;
		background-repeat: no-repeat;
	}

</style>