  <style type="text/css">
	/* Morganite font */ 	
	/* Header Image with Title */
	.header-title h1 span {
		text-transform: uppercase !important;
		font-size: 122px !important;
	}
	
	/* Style text inputs and dropdowns */

	#provincedropdown,
	#campusdropdown,
	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
		padding: 4px 12px;
		border:none !important;
		border-radius: 100px;
		font-size: 16px;
		margin-bottom: 0;
		background-color: #F2F2F2;
		transition: border-color 0.3s ease;
		box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.5);
		-webkit-box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.5);
		-moz-box-shadow: 0px 1px 2px 0px rgba(16,24,40,0.5);
		position: relative;
		background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
		background-repeat: no-repeat;
		background-position: right 10px center;
		background-size: 20px;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	
	
	.lp-form-label {
		margin-bottom: 130px; 
		padding-bottom:200px;
	}

	#provincedropdown:focus,
	#schooldropdown:focus,
	input:focus,
	textarea:focus {
		border-color: #0073e6; /* Highlight color */
		outline: none;
	}
	#provincedropdown.labels,
	#campusdropdown.labels {
		padding-bottom:20px;
	}
	
	/* Style the submit button */
	#lp-pom-button-43 {
		font-size:18px;
		color: #ffffff !important;
		background-color: #e7131a;
		text-decoration: none;
		vertical-align: initial;
		padding: 20px 40px;
		border: none;
		border-radius: 1000px;
		display: inline-block;
		height: auto;
		margin: 0px 7px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	#lp-pom-button-43:hover {
		text-decoration:underline;
	}

/* Make sure error messages appear below the field */
	.error-message {
		display: none;            /* hidden by default */
		position: relative;       /* keep in normal flow */
		margin-top: 4px;           /* space below the dropdown */
		margin-bottom: 10px;       /* space before next element */
		color: red;
		font-size: 14px;
		line-height: 1.4;
	}
	.lp-form-errors,
	.lp-form-errors * {
		pointer-events: none; /* lets clicks go through */
	}

/* Ensure selects and labels stack properly */
	.lp-pom-form-field {
		display: flex;
		flex-direction: column;
	}	

/* Global styles */
	
	button.button {
		width: calc(300px * var(--scale, 1));
		height: calc(50px * var(--scale, 1));
		display: block;
		border-style: none;
		border-radius: calc(100px * var(--scale, 1));
		background: rgba(231, 19, 26, 1);
		box-shadow: none;
		text-shadow: none;
		color: #fff;
		border-width: calc(undefinedpx * var(--scale, 1));
		border-color: #undefined;
		font-size: calc(18px * var(--scale, 1));
		font-weight: 600;
		font-family: Source Sans Pro;
		font-style: normal;
		text-align: center;
		background-repeat: no-repeat;
		padding: 0.5rem;
		margin: 10px 0;
	}
	
	a.button {
		width: calc(300px * var(--scale, 1));
		display: block;
		border-style: none;
		border-radius: calc(100px * var(--scale, 1));
		background: rgba(231, 19, 26, 1);
		box-shadow: none;
		text-shadow: none;
		color: #fff;
		border-width: calc(undefinedpx * var(--scale, 1));
		border-color: #undefined;
		font-size: calc(18px * var(--scale, 1));
		font-weight: 600;
		font-family: Source Sans Pro;
		font-style: normal;
		text-align: center;
		background-repeat: no-repeat;
		padding: 15px 20px;
		margin: 10px auto;
	}
	
	.links-with-farrow p a {
		text-decoration: none !important;
	}
	
	.links-with-farrow span span:hover {
		color:#8e1319 !important;
	}
	
	.links-with-farrow a span::after {
		font-size: 0.8em;
		font-family: "Font Awesome 5 Free";
		font-weight: 600;
		content: "\f061";
		color: #54C3BB;
		text-decoration: none !important;
		margin-left: 10px;
	}
	
	.links-with-farrow.inverse.plasmablock a span:hover {
		text-decoration: underline !important;
	}
	
	.links-with-farrow.inverse.bloodblock a span:hover {
		text-decoration: underline !important;
	}
	
	.links-with-farrow.inverse a span::after {
		color: white !important;
		
	}

/* How it works */
	.how-it-works {
	}
	
	.how-it-works-card {
		border-top-left-radius: 8px !important;
		border-top-right-radius: 8px !important;
		transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	
	.how-it-works-card-link a {
		
		width: 100% !important;
		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
		align-content: stretch;
		flex-wrap: wrap;
		opacity:0;
		height: 557px;
	}
	
	.how-it-works-card:hover {
	  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
	  transform: translateY(-5px);
	}
	
	.how-it-works-card .how-it-works-img img {
	  object-fit: cover;
	  transition: transform 0.5s ease;
	}
	
	.how-it-works-card:hover .how-it-works-img img {
	  transform: scale(1.08);
	}
	
	.how-it-works-arrow::after {
		font-size: 4em;
			font-family: "Font Awesome 5 Free";
			font-weight: 700;
			content: "\f061";
			color: white;
			border-radius: 50px;
			border: 4px solid white;
			width: 100%;
			display: flex;
			height: 100%;
			text-align: center;
			justify-content: center;
			align-items: center;
			line-height: 0;
			padding: 0;
			transition: transform 0.5s ease;
	}
	.how-it-works-arrow.groups::after {
		background: #E7131A;
	}
	.how-it-works-arrow.campus::after {
		background: #54C3BB;
	}
	
	.how-it-works-card:hover .how-it-works-arrow.groups::after {
		background: #C4161C;
	}
	.how-it-works-card:hover .how-it-works-arrow.campus::after {
		background: #419B96;
	}

/* 2x2 Block */
	
	.gradient-border {  
		border-radius: calc(0px * var(--scale, 1));
		left: calc(97px * var(--scale, 1));
		top: calc(313px * var(--scale, 1));
		z-index: 12;
		width: calc(498px * var(--scale, 1));
		height: calc(298px * var(--scale, 1));
		position: absolute;
		padding: 16px;
		background: white !important;
	}
	
	.gradient-border::before {  
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 3px;
		background-image: linear-gradient(to right, #c4161c, #419b9b) !important;
		border-radius: inherit;
		z-index: -1;
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: exclude;
		-webkit-mask-composite: destination-out;
	}
	
	
	.challenge-inner {
		background: #fff;
		padding: 2rem;
		text-align: center;
	}
	.challenge-inner h3 {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 10px;
		line-height: 1;
	}
	
	.challenge-inner .button {
		
	}
	
	@media only screen and (max-width: 600px) {
		.lp-positioned-content .challenge-block {
			width:calc(295px * var(--scale, 1)) !important;
			left: 0 !important;
		}
		.header-title h1 span {
			text-transform: uppercase !important;
			font-size: 100px !important;
			line-height: 74px !important;
		}
		
		.header-title {
			top: 34px !important;
			width: 293px !important;
		}
	}

</style>